<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            My Notes {{ notes.length > 0 ? '( ' + notes.length + ' total )' : '' }}
                            <button @click="initAddNote()" class="btn btn-success pull-right">
                                <i class="fa fa-plus"></i> New Note
                            </button>
                        </h2>
                    </div><!--/.panel-heading -->

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                
                                <div v-if="notes.length > 0">
                                    <div v-for="(note, index) in notes">

                                        <div class="note-item">
                                            <p class="note-header">
                                                <span class="title">
                                                    <small class="text-muted pull-right">
                                                        <button @click="initUpdate(index)" class="btn btn-info btn-sm">
                                                            <i class="fa fa-edit"></i> edit </button>
                                                        <button @click="deleteNote(index)" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-trash"></i> delete</button>
                                                    </small>
                                                    <a href="">{{ note.title }}</a>
                                                </span>
                                            </p>
                                            <p class="note-info">
                                                <button type="button" 
                                                        class="btn btn-default btn-xs" 
                                                        data-toggle="tooltip" 
                                                        :title="'belongs to: ' + note.user.name">
                                                    <i class="fa fa-user"></i>&nbsp;&nbsp;{{ note.user.name }}
                                                </button> | 
                                                <button type="button" 
                                                        class="btn btn-default btn-xs" 
                                                        data-toggle="tooltip" 
                                                        :title="'created at: ' + parseCreatedAt(index)">
                                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ note.created_at | dateParse }}
                                                </button>
                                            </p>
                                            <p class="note-body">
                                                <div v-html="note.body"></div>
                                                <hr>
                                            </p>
                                        </div><!--/.note-item -->
                                        
                                    </div>
                                </div>

                            </div>
                        </div><!--/.row -->
                    </div><!--/.panel-body -->
                </div><!--/.panel -->
                
            </div>
        </div><!--/.row -->

        <div class="modal fade" tabindex="-1" role="dialog" id="add_note_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add New Note</h4>
                    </div>
                    <div class="modal-body">

                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" name="title" id="title" placeholder="Note Title" class="form-control"
                                   v-model="note.title">
                        </div>
                        <div class="form-group">
                            <label for="body">Body:</label>
                            <textarea name="body" id="body" cols="30" rows="5" class="form-control"
                                      placeholder="Note Body" v-model="note.body"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click="createNote" class="btn btn-primary">Submit</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
 
        <div class="modal fade" tabindex="-1" role="dialog" id="update_note_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Update Note</h4>
                    </div>
                    <div class="modal-body">
 
                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </div>
 
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" placeholder="Note Title" class="form-control"
                                   v-model="update_note.title">
                        </div>
                        <div class="form-group">
                            <label for="body">Body:</label>
                            <textarea cols="30" rows="5" class="form-control"
                                      placeholder="Note Body" v-model="update_note.body"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click="updateNote" class="btn btn-primary">Submit</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</template>

<script>
    export default {
        data () {
            return {
                note: {
                    title: '',
                    body: '',
                    user: {
                        id: '',
                        name: '',
                        email: ''
                    },
                },
                errors: [],
                notes: [],
                update_note: {}
            }
        },

        filters: {
            truncate: function(value, length) {
                if(value.length < length) {
                    return value;
                }
                length = length - 3;
                return value.substring(0, length) + '...';
            },
            paragraphWrap: function(value) {
                return '<p>' + value + '</p>';
            },
            dateParse: function(value) {
                if (value) {
                    return moment(String(value)).format('MMMM Do, YYYY h:mm a');
                }
            }
        },

        mounted () {
            this.readNotes();
        },

        methods: {
            parseCreatedAt(index) {
                var createdAt = this.notes[index].created_at;
                return moment(String(createdAt)).format('MMMM Do, YYYY h:mm a')
            },
            initAddNote() {
                $("#add_note_model").modal("show");
            },
            createNote() {
                axios.post('/note', {
                    title: this.note.title,
                    body: this.note.body
                })
                    .then(response => {
                        this.reset();
                        this.notes.push(response.data.note);
                        $("#add_note_model").modal("hide");

                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors.title) {
                            this.errors.push(error.response.data.errors.title[0]);
                        }

                        if (error.response.data.errors.body) {
                            this.errors.push(error.response.data.errors.body[0]);
                        }
                    });
            },
            reset() {
                this.note.title = '';
                this.note.body = '';
                this.note.user = '';
            },
            readNotes() {
                axios.get('/note')
                    .then(response => {
                        this.notes = response.data.notes;
                    });
            },
            initUpdate(index) {
                this.errors = [];
                $("#update_note_model").modal("show");
                this.update_note = this.notes[index];
            },
            updateNote() {
                axios.patch('/note/' + this.update_note.id, {
                    title: this.update_note.title,
                    body: this.update_note.body,
                })
                    .then(response => {
                        $("#update_note_model").modal("hide");
                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors.title) {
                            this.errors.push(error.response.data.errors.title[0]);
                        }
 
                        if (error.response.data.errors.body) {
                            this.errors.push(error.response.data.errors.body[0]);
                        }
                    });
            },
            deleteNote(index) {
                let conf = confirm("Do you really want to delete this note?");
                if (conf === true) {
 
                    axios.delete('/note/' + this.notes[index].id)
                        .then(response => {
                            this.notes.splice(index, 1);
                        })
                        .catch(error => {
                            this.errors.push(error.response.data.errors);
                        });
                }
            }
        }
    }
</script>
