<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        My Notes
                        <button @click="initAddNote()" class="btn btn-primary btn-sm pull-right">
                            <span class="glyphicon glyphicon-plus"></span> Add New Note
                        </button>
                    </div>

                    <div class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" v-if="notes.length > 0">
                                <tbody>
                                    <tr>
                                        <th>
                                            No.
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Body
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                    <tr v-for="(note, index) in notes">
                                        <td>{{ index + 1 }}</td>
                                        <td style="white-space: nowrap">
                                            {{ note.title }}
                                        </td>
                                        <td>
                                            <!-- {{ note.body }} -->
                                            <div v-html="note.body"></div>
                                        </td>
                                        <td style="white-space: nowrap">
                                            <button @click="initUpdate(index)" class="btn btn-success btn-xs">Edit</button>
                                            <button @click="deleteNote(index)" class="btn btn-danger btn-xs">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="add_note_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add New Note</h4>
                    </div>
                    <div class="modal-body">

                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" name="title" id="title" placeholder="Note Title" class="form-control"
                                   v-model="note.title">
                        </div>
                        <div class="form-group">
                            <label for="body">Body:</label>
                            <textarea name="body" id="body" cols="30" rows="5" class="form-control"
                                      placeholder="Note Body" v-model="note.body"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click="createNote" class="btn btn-primary">Submit</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
 
        <div class="modal fade" tabindex="-1" role="dialog" id="update_note_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Update Note</h4>
                    </div>
                    <div class="modal-body">
 
                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </div>
 
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" placeholder="Note Title" class="form-control"
                                   v-model="update_note.title">
                        </div>
                        <div class="form-group">
                            <label for="body">Body:</label>
                            <textarea cols="30" rows="5" class="form-control"
                                      placeholder="Note Body" v-model="update_note.body"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" @click="updateNote" class="btn btn-primary">Submit</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</template>

<script>
    export default {
        data(){
            return {
                note: {
                    title: '',
                    body: ''
                },
                errors: [],
                notes: [],
                update_note: {}
            }
        },
        filters: {
            truncate: function(value, length) {
                if(value.length < length) {
                    return value;
                }

                length = length - 3;

                return value.substring(0, length) + '...';
            },
            paragraphWrap: function(value) {
                return '<p>' + value + '</p>';
            }
        },
        mounted()
        {
            this.readNotes();
        },
        methods: {
            initAddNote()
            {
                $("#add_note_model").modal("show");
            },
            createNote()
            {
                axios.post('/note', {
                    title: this.note.title,
                    body: this.note.body,
                })
                    .then(response => {

                        this.reset();

                        this.notes.push(response.data.note);

                        $("#add_note_model").modal("hide");

                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors.title) {
                            this.errors.push(error.response.data.errors.title[0]);
                        }

                        if (error.response.data.errors.body) {
                            this.errors.push(error.response.data.errors.body[0]);
                        }
                    });
            },
            reset()
            {
                this.note.title = '';
                this.note.body = '';
            },
            readNotes()
            {
                axios.get('/note')
                    .then(response => {
 
                        this.notes = response.data.notes;
 
                    });
            },
            initUpdate(index)
            {
                this.errors = [];
                $("#update_note_model").modal("show");
                this.update_note = this.notes[index];
            },
            updateNote()
            {
                axios.patch('/note/' + this.update_note.id, {
                    title: this.update_note.title,
                    body: this.update_note.body,
                })
                    .then(response => {
 
                        $("#update_note_model").modal("hide");
 
                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors.title) {
                            this.errors.push(error.response.data.errors.title[0]);
                        }
 
                        if (error.response.data.errors.body) {
                            this.errors.push(error.response.data.errors.body[0]);
                        }
                    });
            },
            deleteNote(index)
            {
                let conf = confirm("Do you really want to delete this note?");
                if (conf === true) {
 
                    axios.delete('/note/' + this.notes[index].id)
                        .then(response => {
 
                            this.notes.splice(index, 1);
 
                        })
                        .catch(error => {
 
                        });
                }
            }
        }
    }
</script>
